# .github/workflows/wireguard-vpn.yml
name: WireGuard VPN Endpoint

on:
  workflow_dispatch:  # Manual trigger only

jobs:
  deploy-wireguard:
    runs-on: ubuntu-latest
    # Remove the problematic timeout-minutes from here
    
    steps:
      - name: Install deps
        run: sudo apt install wireguard
      - name: WireGuard SSH
        uses: omahn/wireguard-ssh-github-action@v1.4
        with:
          # Required. IP address of your WireGuard peer/endpoint. Must be publicly reachable.
          peer_ip: '176.65.253.233'
          # Required. SSH public key as a string.
          ssh_public_key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIFqG3awk33PPwMeJe1fvzC4zqqZOpQwVMsxN+pqZphk taham@taham'
          # Port of WireGuard peer.
          peer_port: '51820'
          # Private IP of GitHub WireGuard peer.
          github_ip: '192.168.192.1'
          # Seconds to wait for SSH connection.
          ssh_connection_timeout: '300'
          # Seconds to timeout SSH session.
          session_timeout: 3600
        
